* {
    margin: 0px;
}


main {
    margin:25px;
}

header {
    background-color: rgb(156, 214, 244);  
    padding-top: 48px;      /* pixel rilevati con photopea */
    padding-bottom: 48px;   /* pixel rilevati con photopea */
    padding-left: 17px;     /* pixel rilevati con photopea */
}


/* aggiunta di vari padding */
#contenitore-logo-header {
    width: 240px;
}

#data-publicazione, #photo-paul, p, ul, table {
    padding-bottom: 25px;
}

ul {
    padding-left: 15px;
}
/* // aggiunta di vari padding */


/* variazione font */
h5 {
    color: darkgray;
}

#Autore {
    color: rgb(69, 130, 243);
    font-style: italic;
}
#data-publicazione, .info-foto {
    font-size: 10px;
}

.intestazione-tabella {
    color: antiquewhite;
}
/* // variazione font */


