* {
    margin: 0px;
}


main {
    margin:25px;
}

header {
    background-color: rgb(156, 214, 244);  
    padding-top: 48px;      /* pixel rilevati con photopea */
    padding-bottom: 48px;   /* pixel rilevati con photopea */
    padding-left: 17px;     /* pixel rilevati con photopea */
}

footer {
    background-color: rgba(5, 5, 59, 0.89);  
    color: azure;   
    text-align: center; 
    padding-top: 10px;   
    padding-bottom: 10px;  
}

/* ------------------------------------------------------------------- */
/* aggiunta di vari padding */
#contenitore-logo-header {
    width: 240px;
}

#data-publicazione, #photo-paul, p, ul, table {
    padding-bottom: 25px;
}

ul {
    padding-left: 15px;
}
/* // aggiunta di vari padding */
/* ------------------------------------------------------------------- */
/* variazione font */
h5 {
    color: darkgray;
}

#Autore {
    color: rgb(69, 130, 243);
    font-style: italic;
}
#data-publicazione, .info-foto {
    font-size: 10px;
}

.intestazione-tabella {
    color: antiquewhite;
}

#frase-in-giallo {
    background-color: yellow;
}
/* // variazione font */
/* ------------------------------------------------------------------- */
/* Colorazione Tabella */
.intestazione-tabella {
    background-color: cornflowerblue;
}

.corpo-tabella-color1 {
    background-color: rgba(127, 229, 255, 0.274);
}

.corpo-tabella-color2 {
    background-color: rgba(127, 229, 255, 0.082);
}
/* // Colorazione Tabella */
/* ------------------------------------------------------------------- */


